<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/static/js/jquery-easyui-1.5.4.5/themes/default/easyui.css">
    <link rel="stylesheet" href="/static/js/jquery-easyui-1.5.4.5/themes/icon.css">
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <script src="/static/jquery-easyui-1.5.4.5/jquery.min.js"></script>
    <script src="/static/jquery-easyui-1.5.4.5/jquery.easyui.min.js"></script>
    <script src="/static/jquery-easyui-1.5.4.5/locale/easyui-lang-zh_CN.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>
<body>


<div class="easyui-panel" title="基础功能">
    <a href="#" style="margin: 10px" id="userListAdd" class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
    <a href="#" style="margin: 10px"  id="userListSearch" class="easyui-linkbutton" data-options="iconCls:'icon-search' ">查询</a>
    <a href="#" style="margin: 10px" id="userListDelete" class="easyui-linkbutton " data-options="iconCls:'icon-remove' ">删除</a>
    <a href="#" style="margin: 10px" id="userListUpdate" class="easyui-linkbutton " data-options="iconCls:'icon-remove' ">保存</a>
    <a href="#" style="margin: 10px" id=""  class="easyui-linkbutton" data-options="iconCls:'icon-tip' ">导入</a>
    <a href="#" id="ceshi" style="margin: 10px" class="easyui-linkbutton" data-options="iconCls:'icon-tip' ">测试</a>
    <a href="#" style="margin: 10px" class="easyui-linkbutton" data-options="iconCls:'icon-redo' ">重置</a>
    <a href="#" style="margin: 10px" class="easyui-linkbutton" data-options="iconCls:'icon-clear' ">关闭</a>
</div>

<div class="easyui-panel" title="查询条件">
    <form  id="userListForm">
        <div class="" style="padding: 13px;float: left">
            <lable class="">用户ID：</lable>
            <input type="text" name="userId"placeholder="请输入" class="easyui-textbox">
        </div>
        <div class="" style="padding: 13px ;float: left">
            <lable class="">用户姓名：</lable>
            <input type="text" name="userName" placeholder="请输入" class="easyui-textbox">
        </div>
        <div class="" style="padding: 13px;float: left">
            <lable class="">注册时间范围：</lable>
            <input type="text" name="registerStart" class="easyui-datebox" data-options="validType:'dateType'">
        </div>
        <div class="" style="padding: 13px;float: left">
            <lable class="">~~：</lable>
            <input type="text" name="registerEnd"class="easyui-datebox" data-options="validType:'dateType'">
        </div>
        <div class="" style="padding: 13px ;float: left">
            <lable class="">是否有效：</lable>
            <select name="isUse" id="" class="easyui-combobox" data-options="width:100,panelHeight:60">
                <option value="1">有效</option>
                <option value="0">无效</option>
            </select>
        </div>

    </form>
</div>

<div class="easyui-panel" title="文件上传" style="padding: 13px;float: left">
    <form id="userUploadForm"  method="post" enctype="multipart/form-data">
        <laber>选择文件：</laber>
        　<input id="uploadExcel" name="file" class="easyui-filebox" style="width:200px" data-options="prompt:'请选择文件...'">

        　　<a href="#" id="userListUplode" class="easyui-linkbutton" style="width:122px" >用户批量导入</a> 　　     　　　　　

    </form>
</div>


<div class="easyui-datagrid" title="用户列表" style="height:auto" id="userListDataTable"
</div>

<div id="userListDialog" closed="true" class="easyui-dialog" title="新增用户" style="width:400px;height:200px;" data-options="">
</div>


<script src="/static/js/userList.js"></script>
<script src="/static/js/common/cldCommon.js"></script>

</body>
</html>
